---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
</head>

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/>
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>

      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
    </p>
    </div>
  </header>

  {% if site.enableToc %}
    <h2 class="post-title">目录</h2>
    {% include toc.html html=content %}
  {% endif %}

  <section class="post">
    {{ content }}
  </section>

</article>

{% include new-old.html %}
{% include comments.html %}

<body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js"></script>
<script>
    try {

        var url = 'https://live2d-cdn.fghrsh.net/';

        $("<link>").attr({

            href: url+"assets/1.4.2/waifu.min.css",

            rel: "stylesheet",

            type: "text/css"

        }).appendTo('head');

        $('body').append('<div class="waifu"><div class="waifu-tips"></div><canvas id="live2d" class="live2d"></canvas><div class="waifu-tool"><span class="fui-home"></span> <span class="fui-chat"></span> <span class="fui-eye"></span> <span class="fui-user"></span> <span class="fui-photo"></span> <span class="fui-info-circle"></span> <span class="fui-cross"></span></div></div>');

        $.ajax({

            url: url+'assets/1.4.2/waifu-tips.min.js',

            dataType: "script",

            cache: true,

            success: function () {

                $.ajax({

                    url: url+'assets/1.4.2/live2d.min.js',

                    dataType: "script",

                    cache: true,

                    success: function () {

                        live2d_settings['hitokotoAPI'] = 'hitokoto.cn';

                        live2d_settings['modelId'] = 5;

                        live2d_settings['modelTexturesId'] = 1;

                        live2d_settings['modelStorage'] = false;

                        initModel(url+'assets/1.4.2/waifu-tips.json');

                    }

                });

            }

        });

    } catch (err) {
        console.log('[Error] JQuery is not defined.')
    }
</script>
